/**{
	border: 1px solid red;
}*/

/*Title*/
#title{
background-color: white;
background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/happiness.jpg);
background-size: cover;
background-position: center;
color: #efefef !important;
background-attachment: fixed;
padding: 50px 20px;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

#title h4{
		font-size: 1.3rem;
		font-family: 'Open Sans', sans-serif;
		font-style: italic;
	}

h1{
	font-family: 'Poppins', sans-serif;
	font-size: 10rem;
}

/*Nav*/
#myNavbar1{
	font-family: 'Poppins', sans-serif;
}

.nav-item{
	margin: 0 12px;
}


/*ABOUT*/

/*#about{
background-image: linear-gradient(rgba(250, 250, 250,0.5),rgba(250, 250, 250,0.5)),url(../images/cad.jpg);
background-size: cover;
background-position: center;
}*/

#about > h2{
	font-family: 'Poppins', sans-serif;
}

#about > h6{
	font-family: 'Poppins', sans-serif;
	font-style: italic;
}

#about > p{
	font-family: 'Poppins', sans-serif;
}



/*<!-- Subscription form -->*/
.more{
background-image: linear-gradient(rgba(250, 250, 250,0.8),rgba(250, 250, 250,0.8)),url(../images/happy1.jpeg);
background-size: cover;
background-position: center;
color: black !important;
/*background-attachment: fixed;*/
padding: 50px 20px;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

#more > h4{
	font-family: 'Poppins', sans-serif;
	font-size: 20rem;
}

#more h6 form p small{
	font-family: 'Open Sans', sans-serif;
}

/*Footer*/
.copyright{
	width: 100%
	text-align: center;
	background-color: black;
	padding: 0.5rem 0;
	position: relative;
}

.copyright p{
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 0.8rem;
	padding-top: 5px;
/*	line-height: 20px;*/
	color: white;
}


/*Mobile Responsiveness*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px){
	h1{
		font-size: 4rem;
	}

	#title h4{
		font-size: 1rem;
		font-family: 'Open Sans', sans-serif;
		font-style: italic;
	}
}

	/*Subscription form*/
#more h4{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
}

#more h6 form p small{
	font-family: 'Open Sans', sans-serif;
}

/*#more small{
	display: none;
}*/